@import "modern-normalize";

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;

  color: inherit;
}

ul,
li {
  list-style: none;
}


img {
  display: block;

  max-width: 100%;
  height: auto;
}